#col1{
    color:red;
    background-color: black;
}
#ac{
    color: red;
    background-color: black;
}
#submit{
    color: green;
    background-color:rgb(167, 167, 229);
}
.btn{
    color: black;
    background-color:rgb(105, 84, 69);
    size: 20px;
}
#col2{
    color: black;
    background-color: blue;
}
#col3{
    color: black;
    background-color: blue;
}
#col4{
    color: black;
    background-color: blue;
}
#col5{
    color: black;
    background-color: blue;
}
#col6{
    color: black;
    background-color: blue;
}
#col7{
    color: black;
    background-color: blue;
}
#col8{
    color: black;
    background-color: blue;
}
#col9{
    color: black;
    background-color: blue;
}